body {
  min-width: 960px;
  margin: 0 auto;
  font: 13px/24px "PTSans", "Arial", sans-serif;
  color: #000;
  background-color: #ffffff;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-arrow {
  width: 22px;
  height: 40px;
  background-position: -5px -5px;
}

.sprite-bookmark {
  width: 14px;
  height: 16px;
  background-position: -5px -55px;
}

.sprite-cart {
  width: 17px;
  height: 16px;
  background-position: -5px -81px;
}

.sprite-check-mark {
  width: 39px;
  height: 30px;
  background-position: -5px -107px;
}

.sprite-chek-on {
  width: 27px;
  height: 23px;
  background-position: -5px -147px;
}

.sprite-delivery {
  width: 78px;
  height: 63px;
  background-position: -5px -180px;
}

.sprite-discounts {
  width: 59px;
  height: 72px;
  background-position: -5px -253px;
}

.sprite-equipment {
  width: 78px;
  height: 62px;
  background-position: -5px -335px;
}

.sprite-fb {
  width: 10px;
  height: 18px;
  background-position: -5px -407px;
}

.sprite-inst {
  width: 17px;
  height: 17px;
  background-position: -5px -435px;
}

.sprite-instrument {
  width: 75px;
  height: 61px;
  background-position: -5px -462px;
}

.sprite-login {
  width: 20px;
  height: 17px;
  background-position: -5px -533px;
}

.sprite-login-hover {
  width: 20px;
  height: 17px;
  background-position: -5px -560px;
}

.sprite-materials {
  width: 44px;
  height: 65px;
  background-position: -5px -587px;
}

.sprite-phone {
  width: 19px;
  height: 19px;
  background-position: -5px -662px;
}

.sprite-radio-on {
  width: 25px;
  height: 25px;
  background-position: -5px -691px;
}

.sprite-search {
  width: 17px;
  height: 17px;
  background-position: -5px -726px;
}

.sprite-search-active {
  width: 17px;
  height: 17px;
  background-position: -5px -753px;
}

.sprite-tab-shape {
  width: 10px;
  height: 272px;
  background-position: -5px -780px;
}

.sprite-user {
  width: 20px;
  height: 18px;
  background-position: -5px -1062px;
}

.sprite-user-hover {
  width: 20px;
  height: 18px;
  background-position: -5px -1090px;
}

.sprite-vk {
  width: 20px;
  height: 12px;
  background-position: -5px -1118px;
}

/*=========HEADER=========*/
.main-header {
  margin-bottom: 20px;
}

.top-header {
  background-color: #293449;
}

.logo {
  float: left;
  width: 220px;
  background-color: #ee3643;
}

.user-panel {
  float: left;
  width: 720px;
  font-size: 0;
}

.panel-item {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
}

.panel-link {
  color: rgba(255, 255, 255, 1);
}

.search {
  width: 270px;
}

.search-input {
  width: 100%;
}

.bottom-header {
  background-color: #f1f5f7;
  padding-top: 46px;
  padding-bottom: 60px;
}

.about-magazine {
  float: left;
  width: 200px;
  margin-left: 53px;
  margin-right: 67px; 
}

.contact-info {
  float: left;
  width: 270px;
}

.user-block {
  float: right;
  width: 280px;
}

.page-nav {
  float: left;
  width: 100%;
}

.list-item {
  display: inline-block;
  vertical-align: top;
}

.item-link {
  display: block;
  font-size: 17px;
}
/*=========HEADER END=========*/

/*=========INDEX=========*/
.store-goods {
  width: 100%;
}

.store-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.store-item:last-child,
.discounts,
.delivery {
  margin-right: 0;
}

.store {
  width: 100%;
  margin-bottom: 52px;
}

.slider {
  float: left;
  width: 620px;
}

.store-function {
  float: right;
  width: 300px;
}

.popular {
  width: 100%;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.popular-title {
  float: left;
}

.btn {
  width: 250px;
  background-color: #f7f3ec;
}

.popular-btn {
  float: right;
}

.goods {
  width: 100%;
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 18px;
}

.goods .catalog-item:nth-child(4n+4) {
  margin-right: 0;
}

.producers {
  width: 100%;
  margin-bottom: 80px;
  font-size: 0;
}

.producers-item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  font-size: 13px;
}

.producers-item:nth-child(4n+4) {
  margin-right: 0;
}

.our-features {
  width: 100%;
  margin-bottom: 80px;
  background-color: #f2f6f8;
}

.services-text {
  width: 400px;
  margin-bottom: 70px;
}

.tabs-controls {
  float: left;
  width: 240px;
}

.tabs-list {
  float: right;
  width: 620px;
}

.information {
  margin-bottom: 80px;
}

.about {
  float: left;
  width: 540px;
}

.contacts {
  float: right;
  width: 300px;
}
/*=========INDEX END=========*/

/*=========CATALOG=========*/
.breadcrumbs {
  width: 380px;
  margin-bottom: 20px;
}

.filter {
  float: left;
  width: 220px;
}

.catalog {
  float: right;
  width: 700px;
  margin-bottom: 60px;
}

.catalog-goods {
  width: 700px;
  margin-bottom: 32px;
  font-size: 0;
}

.catalog .catalog-item:nth-child(3n+3) {
  margin-right: 0;
}

.content-info {
  width: 100%;
  background-color: #f2f6f8;
  padding: 35px 0;
}

.info-title {
  margin-top: 35px;
  margin-bottom: 40px;
}

.info-text {
  margin-top: 0;
  margin-bottom: 35px;
}

/*=========CATALOG END=========*/

/*=========FOOTER=========*/
.footer-top {
  width: 100%;
  background-color: #32425c;
}

.footer-logo {
  float: left;
  width: 220px;
  background-color: #ee3643;
}

.footer-nav {
  float: right;
  width: 550px;
}

.nav-list{
  font-size: 0;
}

.nav-item {
  display: inline-block;
  vertical-align: top;
}

.nav-link {
  display: block;
  font-size: 18px;
  color: #ffffff;
}

.adress {
  float: left;
  width: 330px;
}

.footer-menu {
  float: right;
  width: 530px;
}

.menu-list {
  font-size: 0;
}

.menu-item {
  display: inline-block;
  vertical-align: top;
}

.menu-link {
  display: block;
  font-size: 18px;
  color: #ffd180;
}

.footer-bottom {
  width: 100%;
  background-color: #293449;
}

.footer-coopyright {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
  margin-right: 60px;
}

.feedback {
  float: left;
  width: 160px;
}

.designed {
  float: right;
  width: 160px;
}

/*=========FOOTER END=========*/

.modal-content {
  display: none;
}




